@font-face {
  font-family: 'retrotech';
  src: url('/assets/fonts/retrotech.ttf') format('truetype');
}

@font-face {
  font-family: 'emoji';
  src: url('/assets/fonts/emoji.ttf') format('truetype');
}

@font-face {
  font-family: 'minecraft';
  src: url('/assets/fonts/minecraft.ttf') format('truetype');
}

html {
cursor: url('/assets/cursor.png'), auto;
}

a, button {
  cursor: url('/assets/pointer.png'), pointer;
  color: hotpink;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
	background-color: #100e25;
	margin: 0;
  	padding: 0;
	font-family: 'minecraft';
	font-weight: bold;
}

#emoji {
	font-family: 'emoji';
}

html, body {
  height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    background-image: url('assets/clouds1.png'), url('assets/clouds.png');
    background-position: center center, center center;
    background-repeat: no-repeat, repeat-x; 
    height: 160px;
    justify-content: flex-end;
    align-items: center;
    font-family: 'retrotech';
}

h1 {
	margin: 0;
}

#ocean, #thunder {
  font-size: 4rem;
  white-space: nowrap;
}

#ocean, #ocean:hover {
  color: #ffffff;
  text-decoration: none;
}

#thunder {
  display: inline-block;
  color: #fff;
  --glow-color: #fcc01e;
  --spark-color: #fff6aa;
  font-weight: bold;
  animation: thunder 7s linear infinite;
}

@keyframes thunder {
  0%, 30%, 36%, 40%, 50%, 100% {
    text-shadow: none;
    transform: translate(0, 0);
  }

  31% {
    text-shadow: 0 0 10px var(--glow-color), 0 0 20px #fff;
    filter: brightness(1.5);
    opacity: 1;
    transform: translate(-2px, 1px);
  }
  32% {
    transform: translate(2px, -1px);
  }
  33% {
    text-shadow: 0 0 30px var(--glow-color), 0 0 60px var(--spark-color);
    transform: translate(-1px, -2px);
  }
  35% {
    text-shadow: none;
    filter: brightness(0.8);
    transform: translate(0, 0);
  }

  38% {
    text-shadow: 0 0 40px var(--glow-color), 0 0 80px var(--spark-color);
    filter: brightness(2);
    transform: translate(3px, 1px) scale(1.05);
  }
  40% {
    transform: translate(-3px, -1px) scale(1.05);
  }
  42% {
    text-shadow: 0 0 10px var(--glow-color);
    filter: brightness(1.2);
    transform: translate(0, 0) scale(1);
  }
}

.box {
    max-width: 1000px;
    margin: 25px auto;
    padding: 25px;
    color: white;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(20, 1fr); 
}

nav, main {
    border: white 2px solid;
    background-color: black;
    padding: 10px;
}

#welcome {
    grid-row: 1;
    grid-column: span 16; 
    height: max-content;
}

#links {
    grid-row: 1;
    grid-column: span 4;
    height: max-content;
}

#gifs {
    grid-row: 2;
    grid-column: span 5;
    height: 150px;
    background-color: #100e25;
    border: #100e25;
    display: flex;
    justify-content: center;
}

#stats {
    grid-row: 2;
    grid-column: span 15;
    height: max-content;
}

#guest {
    grid-row: 1;
    grid-column: span 20;
    display: flex;
    justify-content: center;
    height: 1000px;
}

#guest iframe {
    width: 100%;
    height: 100%;
}

#about {
    grid-row: 1;
    grid-column: span 20;
    height: max-content;
}

#snail {
   border: white 2px solid; 
}

ul {
   list-style-type: square;
}	

footer {
  position: sticky;
  top: 100%;
  background-image: url('assets/ocean.gif'), url('assets/ocean.png');
  background-repeat: no-repeat, repeat;
  height: 77px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 1px 1px 2px rgba(0, 0, 0, 1);
  display: flex;     
  justify-content: center;
  align-items: flex-end; 
  font-weight: bold;
}
