---
layout: default
---

<body>
  <div style="max-width: 1140px; margin: 2rem auto; padding: 0 15px;">
    <div style="display: flex; flex-wrap: wrap; margin: -15px;">
      <!-- Card 1 -->
      <div class="card-item">
        <div class="card">
          <img src="kubrick.png" alt="Project Kubrick">
          <div class="card-body">
            <h5>Kubrick</h5>
            <p>A Hugging Face Space using Gradio for interfacing with a cosine similarity-based movie recommendation model.</p>
            <a href="https://huggingface.co/spaces/sahilgarje/Kubrick">View Project</a>
          </div>
        </div>
      </div>

      <!-- Repeat for other cards -->
      <div class="card-item">
        <div class="card">
          <img src="textmonger.png" alt="Project Text Monger">
          <div class="card-body">
            <h5>The Text Monger</h5>
            <p>A Python package that provides readability scoring, power words distribution, named entity recognition (NER), and sentiment polarity in a TERMINAL!</p>
            <a href="https://pypi.org/project/textmonger/">View Project</a>
          </div>
        </div>
      </div>

      <div class="card-item">
        <div class="card">
          <img src="peanutbutter.png" alt="Project MrPeanutButter_Bot">
          <div class="card-body">
            <h5>MrPeanutButter_Bot</h5>
            <p>A Reddit bot that interacts with the r/BojackHorseman subreddit. It looks for comments mentioning his or other related characters' name and replies with a random image and a random text (a very Todd idea).</p>
            <a href="https://www.reddit.com/user/MrPeanutButter_Bot/">View Project</a>
          </div>
        </div>
      </div>

      <div class="card-item">
        <div class="card">
          <img src="archlinux.png" alt="Project The LiZard Witchy">
          <div class="card-body">
            <h5>The LiZard Witchy</h5>
            <p>A website I created using HTML/CSS and Javascript that contains configs/tweaks and acts as a general guide for a minimal & functional Arch + i3wm setup.</p>
            <a href="https://oceanthunder.github.io/lizardwitchy/">View Project</a>
          </div>
        </div>
      </div>

      <div class="card-item">
        <div class="card">
          <img src="ponpon.png" alt="Project Ponpon Shit">
          <div class="card-body">
            <h5>Ponpon Shit: An Edgerunner's Summary</h5>
            <p>A scratch project I made that summarizes the anime 'Cyberpunk Edgerunners' in an animated and satirical way.</p>
            <a href="https://youtu.be/rogfSJwxPqU?feature=shared">View Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

